// $specialBlueColor: #17a2b8;
// $textOnSpecialBlueColor: #ffffff;
// $backgroundColor: #fff;
// $buttonTextColor: #fff;
$cardColor: #17a3b8;
$textColor: #ffffff;
// $boxShadowColor: #3a6c7387;

$backgroundColor: #f8f9fa;
// $cardColor: #fff;
// $textColor: #343a40;
$boxShadowColor: #e9ecef;

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-color: $backgroundColor;
}

.mat-card {
  margin-top: 50px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  box-shadow: 10px 5px 5px $boxShadowColor;
  background-color: $cardColor;
}

.mat-card-header {
  margin-bottom: 20px;
  color: $textColor;
  display: flex;
  justify-content: center;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: -8px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.mat-card-content {
  color: $textColor;
}
