<div class="welcome-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Welcome to myCinemovieApp! </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>A web application driven by Angular and Material Design.</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        style="color: #17a2b8"
        (click)="openUserRegistrationDialog()"
      >
        <mat-icon>person_add</mat-icon>
        Sign Up
      </button>
      <button
        mat-raised-button
        style="color: #17a2b8"
        (click)="openUserLoginDialog()"
      >
        <mat-icon>login</mat-icon>
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
