$backgroundColor: #f8f9fa;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #e9ecef;

.login-dialog {
  background-color: $cardColor;
  margin-top: 0px;
  box-shadow: none;
}

.mat-card-title {
  color: $textColor;
}

.mat-card-content {
  color: $textColor;
}

::ng-deep .login-custom > mat-dialog-container {
  background-color: $cardColor;
}

.mat-card-actions {
  display: flex;
}
