$specialBlueColor: #17a2b8;
$textOnSpecialBlueColor: #ffffff;
$backgroundColor: whitesmoke;
$buttonTextColor: #fff;
$cardColor: #17a3b827;
$cardTextColor: #343a40;
$boxShadowColor: #a8b6b827;

.wrapper {
}

.header {
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.footer {
}
