$specialBlueColor: #17a2b8;
$textOnSpecialBlueColor: #ffffff;
$backgroundColor: #fff;
$textColor: #fff;
$cardColor: #17a3b8;
$textColor: #ffffff;
$boxShadowColor: #3a6c7387;

$backgroundColor: #f8f9fa;
// $cardColor: #fff;
// $textColor: #343a40;
$boxShadowColor: #e9ecef;

.storyline-dialog {
  background-color: $cardColor;
  margin-top: 0px;
  box-shadow: none;
}

.storyline-dialog-title {
  color: $textColor;
}

.storyline-dialog-content {
  color: $textColor;
}

::ng-deep .storyline-custom > mat-dialog-container {
  background-color: $cardColor;
}

.storyline-close-button.mat-stroked-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px;
  line-height: 14px;
  min-width: auto;
  border: none;
  font-size: 20px;
}
