<app-header></app-header>
<div class="user-profile-page" style="display: flex">
  <!-- User Profile -->
  <mat-card class="user-profile-card">
    <mat-card-header class="user-profile-card-header">
      <mat-card-title>User Profile</mat-card-title>
    </mat-card-header>

    <!-- View Profile Information -->
    <mat-card-content class="user-profile-card-content">
      <img
        src="{{ 'https://placeimg.com/140/140/any' }}"
        alt="User Avatar"
        style="
          /* border-radius: 8px;
              width: 140px;
              height: 140px;
              object-fit: cover;
              margin: 10px; */
        "
      />
      <p>Username: {{ user.Username }}</p>
      <p>Email: {{ user.Email }}</p>
      <p>Birthday: {{ user.Birthday }}</p>
    </mat-card-content>

    <!-- Edit Profile & Delete Profile -->
    <mat-card-actions class="user-profile-actions">
      <button
        mat-raised-button
        color="primary"
        (click)="openEditProfileDialog()"
      >
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteUser(user.Username)"
      >
        <mat-icon>delete_forever</mat-icon>
        Delete Profile !!!
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer></app-footer>
